<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Mytrade2</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

  <label>指定価格</label>
  <!--<form action="edit" method="post">-->
  <!--    <input type="text" name="price2" placeholde="トレード価格">-->
  <!--    <input type="submit" value="登録">-->
  <!--</form>-->
</body>
</html>